DISCORD_BOT_TOKEN="your token"
DISCORD_BOT_ID="your discord bot id"
OPENAI_API_KEY="your openai api key"
OPENAI_ORGANIZATION_ID="your openai organization key"
TENOR_API_KEY="your tenor api key"
NASA_API_KEY="your nasa api key"
TOP_GG_WEBHOOK_PORT="80"
TOP_GG_WEBHOOK_AUTH="your topgg webhook auth"

